h1 {
	font-style: italic;
	font-size: 45px;
	text-decoration: line-through;
	font-family: Play, sans-serif;

}

p {
	font-family: Black Han Sans, sans-serif;
}

span {
	font-size: 2.0em;
	text-decoration: underline;
}

p	{
	font-weight: normal;
	line-height: 2;
	text-align: center;
}
